@font-face {
    font-family: Poppins-Light;
    src: url("../fonts/Poppins-Light.ttf");
}

body {
    font-family: Poppins-Light;
}

.container {
    height: 100vh;
}

.classListTag {
    color: #707070;
}

.classList {
    padding: 0;
    width: 100%;
   
}

.content {
     
    width: 100%;
    max-height: 500px;
    color: white;
    
   
}
.classListHeader{
    width: 100%;
    height: 74px;
    background-color: red;
    width: 100%;
    border-radius: 25px;
    overflow: hidden;
    transition: 1s;
  
}
#btnDown{
    height: 74px;
}
.ClassListInfo {
    height: 74px;
    
}

.ClassListInfo>h5 {
    margin-left: 35px;
}   
.ClassListInfo{
    margin-left: 10px;
}

.not-press{
    transition: 1s;
    margin-bottom: 7px;
}

.press{
    transform: rotateZ(-90deg);
    margin-bottom: 7px;
}


.rightContent{
    height: 74px;
}